
  .div {
    font-family: sans-serif;
    height: 100%;
  }
  .arrow {
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 20px solid #000;
    margin-bottom: 10px;
  }
  .container {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .roulette {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    background: white;
    border: 3px solid black;
    position: relative;
  }
  .fill {
    position: absolute;
    top: 0;
    left: 0;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    -webkit-clip-path: polygon(0% 0%, 50% 50%, 0% 50%, 0% 0%);
    clip-path: polygon(0% 0%, 50% 50%, 0% 50%, 0% 0%);
  }
  .fill_1 {
    background: lightcoral;
  }
  .fill_2 {
    transform: rotate(45deg);
    background: #dddddd;
  }
  .fill_3 {
    transform: rotate(90deg);
    background: lightgreen;
  }
  .fill_4 {
    transform: rotate(135deg);
    background: lightseagreen;
  }
  .fill_5 {
    transform: rotate(180deg);
    background: #dddddd;
  }
  .fill_6 {
    transform: rotate(225deg);
    background: lightsalmon;
  }
  .fill_7 {
    transform: rotate(270deg);
    background: lightpink;
  }
  .fill_8 {
    transform: rotate(315deg);
    background: #dddddd;
  }
  .content {
    font-size: 20px;
    font-weight: bold;
    width: 260px;
    height: 260px;
    position: absolute;
    top: 20px;
    left: 20px;
    text-align: center;
    transform: rotate(-67deg);
  }
  .line {
    width: 300px;
    height: 3px;
    background: black;
    position: absolute;
    top: 149px;
    left: 0;
  }
  .line_1 {
    transform: rotate(45deg);
  }
  .line_2 {
    transform: rotate(90deg);
  }
  .line_3 {
    transform: rotate(135deg);
  }
  .line_4 {
    transform: rotate(180deg);
  }
  .trigger {
    margin-top: 20px;
    font-size: 30px;
    border-radius: 15px;
    padding: 10px 20px;
    border: 3px solid black;
    cursor: pointer;
  }
  